<div class="data_export_wrapper mbtm-6">
  <div class="dib icon icon_expand w-16 mbtm3 exp_col_button"></div>
  <div class="mbtm-6 strong dib">Data Export</div>
  <div class="dark_contentBox collapsible_box mbtm-15 hidden">
    <input id="enable_trigger_data_export" type="checkbox" /><span id="enable_trigger_data_export_label">Enable Data Export</span>
    <div id="trigger_data_export_wrapper" class="mtop-6 contentBox mlt-20 hidden">

    </div>
  </div>
</div>
