<div class="mbtm-6">
  <span class="dib w-130"><input type="radio" name="data_sync_type" class="data_sync_type" />Event Based Sync</span>
  <select class="w-300 event_dropdown"><option value="">Select an Event</option><option value="1">Test Option</option></select>
</div>
<div>
  <span class="dib w-130"><input type="radio" name="data_sync_type" class="data_sync_type" />Trigger Based Sync</span>
  <select class="w-300 event_dropdown"><option value="">Select a Trigger</option><option value="1">Test Option</option></select>
</div>