<div class="contentBox" id="data_sync_table_area">
  <div id="add_data_sync" class="button active dib popup_opener">Add Data Sync</div>
  <div class="sep mtop-10 mbtm-10"></div>
  <div id="data_sync_table">
    <div id="table_header">
      <div class="field field_1">Name</div>
      <div class="field field_2">Type</div>
      <div class="field field_3">Fields</div>
      <div class="field field_4">Count</div>
      <div class="field field_5">Data Source</div>
      <div class="field field_6">Type</div>
      <div class="field field_7">Created</div>
      <div class="field field_8"></div>
      <div class="clearboth"></div>
    </div>
    <div class="inline-table">
      <div class="trigger_entry">
        <div class="field field_1 edit_data_sync_entry" style="cursor: pointer"><span class="dib icon icon_edit w-16 mrt-6 mbtm5"></span><span class="edit_link dib data_sync_name">Data Sync 1</span></div>
        <div class="field field_2 t_conditions">Trigger</div>
        <div class="field field_3 t_wait_for tac ">10</div>
        <div class="field field_4 t_tx_email">1,200,000</div>
        <div class="field field_5 t_lcm_insert">Test Data Source</div>
        <div class="field field_6 t_data_export">Interaction Ext</div>
        <div class="field field_7 t_created_at">12/07/2015 11:50</div>
        <div class="field field_8"><span class="dib icon icon_close_red mlt-10 mtop3 delete_trigger"></span> </div>
        <div class="clearboth"></div>
      </div>
    </div>
  </div>
</div>
