<div class="field_entry">
  <div class="left_column up_fields dib border no_top">
    <span class="field field1">ABC</span>
    <span class="field field2">TEXT</span>
  </div>
  <div class="center_column icon icon_close_gray remove_field_entry mbtm5"></div>
  <div class="right_column ds_fields dib border no_top">
    <span class="field field1"><select class="w-160 mtop3"></select></span>
    <span class="field field2">TEXT</span>
  </div>
</div>
