<div class="field_entry" style="padding-top: 3px;">
  <input type="radio" class="field1" />
  <span class="field2">Field Name</span>
  <span class="field3">Column Name</span>
  <span class="dib icon icon_close_gray mbtm3 remove_field_entry"></span>
  <div class="sep mtop-3"></div>
</div>
